<!--
UI Template Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>YouTube RePlayer | Chun Lin Projects</title>
	<link href="static/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link href="static/cinema-style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Custom Theme files -->
	<script src="static/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="vf5jTfw-LUQG7-nm5iv4zKNzAIWW60ZTdJQSkGjDJBw" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--webfont-->
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
		rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
	<!-- header-section-starts -->
	<div class="full">
		<div class="menu">
			<ul>
				<li>
					<a class="active" href="/">
						<div class="cnt"><i class="fas fa-home"></i></div>
					</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="header">
				<div class="top-header">
					<div class="logo">
						<p>YouTube RePlayer</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="header-info">
					<h1>My Soul, Your Beats!</h1>
					<p class="age"><a href="#">All Age</a> Angel Beats!</p>
					<p class="header-text">Composer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; Jun Maeda
					</p>
					<p class="header-text">Performer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp; Lia</p>
					<a class="video" href="/login"><i class="video1"></i>LOGIN</a>
				</div>
			</div>

			<div class="footer">
				<h6>About This Project</h6>
				<p class="claim">This is a small web application built with Go (Golang) to give you the experience of
					looping your YouTube videos.</p>
				<a href="https://github.com/goh-chunlin/GoLab" target="_blank">GitHub Repo</a> | <a
					href="https://goh-chunlin.github.io" target="_blank">About Me</a>
				<div class="copyright">
					<p>Template by <a href="http://w3layouts.com" target="_blank">W3layouts</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</body>

</html>