<!DOCTYPE html>
<html lang="en">

<head>
    <title>YouTube RePlayer | Chun Lin Projects</title>
    <link href="static/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="static/cinema-style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="vf5jTfw-LUQG7-nm5iv4zKNzAIWW60ZTdJQSkGjDJBw" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link
        href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <!-- header-section-starts -->
    <div class="full">
        <div class="menu">
            <ul>
                <li>
                    <a class="active" href="/player">
                        <div class="cnt"><i class="fab fa-youtube"></i></div>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <div class="cnt"><i class="fas fa-sign-out-alt"></i></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="single-content">
                <div class="top-header">
                    <div class="logo">
                        <p>YouTube RePlayer</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="container">

                    <div id="systemMessagePanel">

                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">YouTube URL</span>
                                    <input id="txtVideoURL" type="text" class="form-control"
                                        onkeydown="if (event.keyCode == 13) document.getElementById('btnViewVideo').click();">
                                    <span class="input-group-btn">
                                        <button id="btnViewVideo" class="btn btn-primary" type="button"
                                            onclick="watchVideo();">Submit</button>
                                    </span>
                                </div>
                            </div>

                            <div class="videoWrapper">
                                <iframe id="ytplayer" width="730" height="445">
                                </iframe>
                            </div>

                            <div style="margin-top: 10px; margin-bottom: 40px;">

                                <input id="hidVideoID" name="hidVideoID" type="hidden" />
                                <input id="hidVideoName" name="hidVideoName" type="hidden" />

                                <input id="btnAddToList" type="button" class="btn btn-primary btn-lg"
                                    value="Add to List" disabled="disabled" onclick="addVideo();" />

                            </div>
                        </div>
                        <div class="col-sm-4">


                            <div id="storedVideosList">
                                <div id="videoList" class="list-group">
                                    <span class="list-group-item active">My Videos</span>
                                    <a v-for="video in videos" href="javascript:;" class="list-group-item"
                                        v-on:click="watchVideoGeneral(video.youtubeVideoId);">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td style="width: 94px;">
                                                        <img v-bind:src="'https://i.ytimg.com/vi/' + video.youtubeVideoId + '/default.jpg'"
                                                            width="90px" v-bind:title="video.videoTitle"
                                                            v-bind:alt="video.videoTitle" />
                                                    </td>
                                                    <td valign="top">
                                                        <span style="font-weight: bold;">{{ video.videoTitle }}</span>
                                                        <br />
                                                        <a href="javascript:;"
                                                            v-on:click.stop="showUpdateVideoInfoPopup(video.id, video.videoTitle)">EDIT</a>
                                                        |
                                                        <a href="javascript:;"
                                                            v-on:click.stop="showDeleteVideoPopup(video.id, video.videoTitle)">DELETE</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </a>
                                </div>
                            </div>

                            <div class="text-center">
                                <a href="javascript:;" onclick="$('#modalSuggestVideos').modal('show');">Get suggestion for videos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <h6>About This Project</h6>
                <p class="claim">This is a small web application built with Go (Golang) to give you the experience of
                    looping your YouTube videos.</p>
                <a href="https://github.com/goh-chunlin/GoLab" target="_blank">GitHub Repo</a> | <a
                    href="https://goh-chunlin.github.io" target="_blank">About Me</a>
                <div class="copyright">
                    <p>Template by <a href="http://w3layouts.com" target="_blank">W3layouts</a></p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div id="modalUpdateVideoInfo" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Video Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="modalUpdateVideoInfoVideoId" name="hidVideoID" type="hidden" />
                    <div class="form-group row">
                        <label for="modalUpdateVideoInfoName" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="modalUpdateVideoInfoName"
                                name="VideoName" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="updateVideo();">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDeleteVideo" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Video</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="modalDeleteVideoVideoId" name="hidVideoID" type="hidden" />
                    <p class="text-danger">
                        Are you sure that you want to delete the video <strong id="modalDeleteVideoName"></strong>?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteVideo();">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <form action="/suggestVideos" method="POST">
        <div id="modalSuggestVideos" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Suggest Videos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-info">
                            Please pick at least one category from the list below to retrieve some recommended videos
                            based on your choices.
                        </p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input class="music-type-checkbox" type="checkbox" data-music-type="anime" /> Anime
                                        <input class="music-type-hidden" type="hidden" name="MusicType" />
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="music-type-checkbox" type="checkbox" data-music-type="chinese" /> Chinese
                                        <input class="music-type-hidden" type="hidden" name="MusicType" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input class="music-type-checkbox" type="checkbox" data-music-type="classical music" /> Classical Music
                                        <input class="music-type-hidden" type="hidden" name="MusicType" />
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="music-type-checkbox" type="checkbox" data-music-type="jazz" /> Jazz
                                        <input class="music-type-hidden" type="hidden" name="MusicType" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input class="music-type-checkbox" type="checkbox" data-music-type="korean" /> Korean
                                        <input class="music-type-hidden" type="hidden" name="MusicType" />
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="music-type-checkbox" type="checkbox" data-music-type="piano" /> Piano
                                        <input class="music-type-hidden" type="hidden" name="MusicType" />
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" onclick="updateMusicTypeCheckboxValues();">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/slimScroll.min.js"></script>
    <script src="static/player.js"></script>

    <script>
        var availableVideos = [];
        var vmVideos;

        $(function () {

            vmVideos = new Vue({
                el: '#videoList',
                data: { videos: availableVideos }
            });

            loadVideos();

        });
    </script>
</body>


</html>