<!DOCTYPE html>
<html lang="en">

<head>
    <title>YouTube RePlayer</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="vf5jTfw-LUQG7-nm5iv4zKNzAIWW60ZTdJQSkGjDJBw" />

    <link rel="stylesheet" href="static/bootstrap.min.css" media="screen" />
</head>

<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="../player" class="navbar-brand">YouTube RePlayer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/goh-chunlin/GoLab" target="_blank">Repo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://goh-chunlin.github.io" target="_blank">About Chun Lin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><strong>Logout</strong></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>


    <div class="container" style="margin-top: 120px;">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">YouTube URL</span>
                        <input id="txtVideoURL" type="text" class="form-control" onkeydown="if (event.keyCode == 13) document.getElementById('btnViewVideo').click();">
                        <span class="input-group-btn">
                            <button id="btnViewVideo" class="btn btn-primary" type="button" onclick="watchVideo();">Submit</button>
                        </span>
                    </div>
                </div>

                <div class="videoWrapper">
                    <iframe id="ytplayer" width="730" height="445">
                    </iframe>
                </div>

                <div style="margin-top: 10px; margin-bottom: 40px;">

                    <input id="hidVideoID" name="hidVideoID" type="hidden" />
                    <input id="hidVideoName" name="hidVideoName" type="hidden" />

                    <input id="btnAddToList" type="button" class="btn btn-primary btn-lg" value="Add to List" disabled="disabled"
                        onclick="addVideo();" />

                </div>
            </div>
            <div class="col-sm-4">


                <div id="storedVideosList">
                    <div id="videoList" class="list-group">
                        <span class="list-group-item active">My Videos</span>
                        <a v-for="video in videos" href="javascript:;" class="list-group-item" v-on:click="watchVideoGeneral(video.youtubeVideoId);">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width: 94px;">
                                            <img v-bind:src="'https://i.ytimg.com/vi/' + video.youtubeVideoId + '/default.jpg'"
                                                width="90px" v-bind:title="video.videoTitle" v-bind:alt="video.videoTitle" />
                                        </td>
                                        <td valign="top">
                                            <span style="font-weight: bold;">{{ video.videoTitle }}</span>
                                            <br />
                                            <a href="javascript:;" v-on:click="event.stopPropagation(); showUpdateVideoInfoPopup(video.id, video.videoTitle);">EDIT</a>
                                            |
                                            <a href="javascript:;" class="text-danger" v-on:click="event.stopPropagation(); showDeleteVideoPopup(video.id, video.videoTitle);">DELETE</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalUpdateVideoInfo" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Video Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="modalUpdateVideoInfoVideoId" name="hidVideoID" type="hidden" />
                    <div class="form-group row">
                        <label for="modalUpdateVideoInfoName" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="modalUpdateVideoInfoName" name="VideoName" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="updateVideo();">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDeleteVideo" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Video</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="modalDeleteVideoVideoId" name="hidVideoID" type="hidden" />
                    <p class="text-danger">
                        Are you sure that you want to delete the video <strong id="modalDeleteVideoName"></strong>?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteVideo();">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/slimScroll.min.js"></script>
    <script src="static/player.js"></script>

    <script>
        var availableVideos = [];
        var vmVideos;

        $(function () {

            vmVideos = new Vue({
                el: '#videoList',
                data: { videos: availableVideos }
            });

            loadVideos();

        });
    </script>
</body>


</html>